NET "ld1<0>" LOC = "m5" ; 

NET "sw1<0>" LOC = "p11";

NET "rst<3>" LOC = "a7"; 

NET "ld<6>"  LOC = "l14"  ;
NET "ld<5>"  LOC = "h12"  ;
NET "ld<4>"  LOC = "n14"  ;
NET "ld<3>"  LOC = "n11"  ;
NET "ld<2>"  LOC = "p12"  ;
NET "ld<1>"  LOC = "l13"  ;
NET "ld<0>"  LOC = "m12"  ;

NET "an<3>" LOC = "k14"; 
NET "an<2>" LOC = "m13"; 
NET "an<1>" LOC = "j12"; 
NET "an<0>" LOC = "f12";

NET "clk" LOC = "b8"; 
